<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/containers.css">
</head>
<body>
  <div style="background-color: black;">
    <div class="container_g">
        <h2 class="container_g__title">Projects</h2>
        
        <div class="container_p">
            <div class="project-name">ОсОО "Energi.kg"</div>
            <div class="date-group">
                <div class="date-icon"></div>
                <div class="date">12/04/2021</div>
            </div>
            <div class="date-group">
                <div class="date-icon"></div>
                <div class="date">12/04/2021</div>
            </div>
            <div class="team-group">
                <div class="team-icon"></div>
                <div class="team-members">Adyl, Azhar, Arthur</div>
            </div>
        </div>
        
        <div class="add-project-btn">
            <div>Add New Project</div>
        </div>
    </div>
  </div>

</body>
</html>
