.container_g {
    width: 924px; 
    height: 689px; 
    position: relative; 
    background: #F6F6F6; 
    overflow: hidden; 
    border-radius: 17px;
    padding: 20px;
}

.container_g__title {
    width: 883px; 
    color: black; 
    font-size: 20px; 
    font-family: 'Rubik', sans-serif; 
    font-weight: 500; 
    line-height: 20px; 
    margin-bottom: 20px;
}

.container_p {
    width: 880px; 
    height: 66px; 
    background: #E0E4EA; 
    overflow: hidden; 
    border-radius: 17px;
    display: flex;
    align-items: center;
    padding: 0 24px;
    margin-bottom: 10px;
}

.project-name {
    width: 236px;
    color: black; 
    font-size: 18px; 
    font-family: 'Rubik', sans-serif; 
    font-weight: 500; 
    line-height: 20px;
}

.date-group, .team-group {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: 40px;
}

.date, .team-members {
    color: black; 
    font-size: 16px; 
    font-family: 'Rubik', sans-serif; 
    font-weight: 400; 
    line-height: 20px;
}

.date-icon, .team-icon {
    width: 20px; 
    height: 20px;
}

.add-project-btn {
    position: absolute;
    top: 22px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
